@import 'settings/variables.sass'

.attachment
    border-bottom: 1px solid $background-color
    border-top: 1px solid $background-color
    margin: 30px 0
    opacity: 0
    overflow: hidden
    padding: 30px 0
    position: relative
    transition: opacity .5s

    &.show
            opacity: 1

    .image
        width: 100%
        display: block

        &.hide
            display: none

    +hover
        .download
            opacity: 1
            transform: none
        
.description
    white-space: pre-wrap

.title
    font-family: $font-main
    color: $brand-medium
    text-transform: uppercase
    font-weight: 300
    margin: 0
    font-size: 30px
    letter-spacing: 1px

    +breakpoint(large)
        font-size: 28px

    +breakpoint(medium)
        font-size: 24px

.date
    font-style: italic
    margin: 0 0 20px
    color: $brand-secondary
    font-size: 16px

    +breakpoint(medium)
        font-size: 14px

.comments
    padding-top: 30px
    margin-top: 30px
    border-top: 1px solid $background-color

.download
    +position(absolute, null 20px 50px null)
    +size(44px)
    background: url('../../images/download.svg') center center $brand-secondary no-repeat
    background-size: 24px 24px
    border-radius: 50%
    cursor: pointer
    font-size: 0
    transition: .3s

    \:global(.show-hovers) &
        opacity: 0
        transform: translateY(50%)

    +hover
        background-color: $brand-light