@import 'settings/variables.sass'

.loader
    +size(50px)
    margin: 5vw auto
    position: relative
    transform: rotate(-45deg)

    span
        +size(10px)
        animation: fade 4s cubic-bezier(0.75, 0, 0.5, 1) infinite normal
        border-radius: 50%
        border: 3px solid tint($brand-secondary, 75%)
        display: block
        position: absolute

        &:nth-child(1)
            top: 0
            left: 0
            animation-delay: 0s

        &:nth-child(2)
            top: 0
            right: 0
            animation-delay: 1s

        &:nth-child(3)
            right: 0
            bottom: 0
            animation-delay: 2s

        &:nth-child(4)
            left: 0
            bottom: 0
            animation-delay: 3s

    &::after
        +position(absolute, 0 null null 0)
        +size(16px)
        animation: move 4s cubic-bezier(0.75, 0, 0.5, 1) infinite
        background-color: $brand-secondary
        border-radius: 50%
        content: ""


@keyframes move
    0%
        top: 0
        left: 0
    25%
        top: 0
        left: calc(100% - 16px)

    50%
        top: calc(100% - 16px)
        left: calc(100% - 16px)

    75%
        top: calc(100% - 16px)
        left: 0

    100%
        top: 0
        left: 0

@keyframes fade
    0%
        border-color: tint($brand-secondary, 75%)

    25%
        border-color: $brand-secondary

    50%
        border-color: tint($brand-secondary, 75%)

    100%
        border-color: tint($brand-secondary, 75%)