@import 'settings/variables.sass'

.feedback
    +position(fixed, 100% 0 null null)
    background-color: $brand-dark
    display: flex
    max-height: calc(100% - 36px)
    max-width: 100%
    min-height: 200px
    transition: .5s $ease-in-out-quint
    width: 400px
    will-change: transform
    z-index: 10

    &.open
        transform: translateY(-100%)

.form
    max-height: 100%
    overflow: auto
    padding: 20px
    width: 100%

.button
    +focus
    +position(absolute, null 0 100% null)
    background-color: $brand-light
    border: none
    color: $brand-secondary
    cursor: pointer
    font-family: $font-main
    font-size: 14px
    font-weight: 300
    letter-spacing: 2px
    padding: 10px 20px
    text-transform: uppercase
    transform-origin: bottom right
    transition: .3s

    +hover
        background-color: $brand-dark