@import 'settings/variables.sass'

.footer
    background-color: $brand-medium
    padding-top: 6vw

.sponsors
    padding: 40px 0

    p
        color: tint($brand-light, 60%)
        font-family: $font-main
        font-size: 12px
        font-weight: 300
        letter-spacing: 1px
        margin: 0 0 20px
        text-align: center
        text-transform: uppercase

.logos
    display: flex
    flex-wrap: wrap
    justify-content: center
    align-items: center

.sponsor
    +focus
    max-width: 160px
    margin: 10px 20px

    +breakpoint(large)
        max-width: 150px
    +breakpoint(medium)
        max-width: 120px
    +breakpoint(small)
        max-width: 100px

    +hover
        img
            opacity: .5
    
    img
        display: block
        width: 100%
        opacity: .3
        transition: .3s

.links
    background-color: $brand-light

.list
    align-items: center
    display: flex
    flex-wrap: wrap
    justify-content: center
    list-style: none
    margin: 0
    padding: 20px 10px 15px

.item
    border-right: 1px solid tint($brand-light, 40%)
    color: tint($brand-light, 40%)
    font-family: $font-main
    font-size: 13px
    margin: 0 10px 5px 0
    padding-right: 10px

    &:last-child
        border-right: none
        margin-right: 0
        padding-right: 0

.link
    +focus
    color: tint($brand-light, 40%)
    text-decoration: none
    font-weight: 300

    +hover
        text-decoration: underline

.external
    +focus
    color: $brand-secondary
    text-decoration: none

    +hover
        text-decoration: underline