@import 'settings/variables.sass'

body
    background-color: $background-color
    color: $manatee
    display: flex
    font-family: $font-secondary
    font-size: 14px
    margin: 0
    padding: 0

#root
    display: flex
    flex-direction: column
    min-height: 100vh
    overflow: hidden
    width: 100%

main
    margin: -6vw 0 -6vw
    padding: 0 20px
    position: relative
    flex-grow: 1
    z-index: 5

    &.no-banner
        margin-top: 0

    +breakpoint(medium)
        padding: 0 10px

.generic
    font-family: $font-main
    max-width: 800px

    a
        color: $brand-secondary
        transition: .2s

        .show-hovers &:hover,
        .hide-hovers &:active
            color: $brand-medium

    h3
        
        color: $brand-medium
        font-weight: 300
        text-transform: uppercase
        font-size: 20px

        b
            font-weight: 300

    ul > li 
        margin: 0 0 10px
        p
            margin: 0 0 5px

            


+breakpoint(medium)
    body
        font-size: 13px