@import 'settings/variables.sass'

.title
    font-size: 28px
    letter-spacing: 1px
    font-family: $font-main
    text-transform: uppercase
    font-weight: 300
    color: $brand-medium
    margin: 0 0 30px

    &.center
        text-align: center

    +breakpoint(large)
        font-size: 24px
        margin-bottom: 20px

    +breakpoint(medium)
        font-size: 20px

    +breakpoint(small)
        font-size: 18px

.actions
    justify-content: center
    margin-top: 20px
    padding-top: 20px
    border-top: 1px solid $background-color
    display: flex
    align-items: center

    > *
        margin: 0 10px

    +breakpoint(small)
        display: block
        padding-top: 10px
        margin-top: 10px

        > *
            display: block
            margin: 10px 0
            text-align: center

            &:last-child
                margin-bottom: 0

.feature
    display: flex

    > *
        width: 50%

    +breakpoint(medium)
        flex-direction: column

        > *
            width: 100%

        .featureDetail
            padding: 20px

        .featureImage
            height: 50vw
            order: 1

.featureDetail
    box-sizing: border-box
    padding: 4vw
    font-size: 14px
    font-family: $font-main
    line-height: 1.4

    \:global(.generic)
        font-size: 14px

    h1, h3, h4, h5
        font-family: $font-main
        text-transform: uppercase
        font-weight: 300
        letter-spacing: 1px

    h1, h3
        font-size: 30px
        margin: 0 0 30px
        letter-spacing: 2px
        color: $brand-secondary
        
    h4
        font-size: 20px
        margin: 0

    h5
        font-size: 16px
        margin: 10px 0 0

        &:first-of-type
            margin: 0 0 5px

    &.dark
        background-color: $brand-light
        color: #fff
        font-weight: 300

        h3
            font-weight: 100

        .actions
            border-color: rgba(#fff, .1)

        p
           color: rgba(#fff, .5)

        \:global(.generic)
            color: rgba(#fff, .5)

    +breakpoint(large)
        h1
            font-size: 26px
            margin-bottom: 20px
        h3
            font-size: 24px
            margin-bottom: 20px
        h4
            font-size: 18px
        h5
            font-size: 14px

    +breakpoint(medium)
        h1
            font-size: 24px
            line-height: 1.2
        h3
            font-size: 20px
        h4
            font-size: 16px
        h5
            font-size: 13px

.featureImage
    position: relative

    img
        +position(absolute, 0 null null 0)
        width: 100%
        height: 100%
        object-fit: cover

    &::before,
    &::after
        +position(absolute, 0)
        background-color: rgba(#002F59, .5)
        content: ""
        mix-blend-mode: lighten
        z-index: 1
        

    &::after
        display: none
        background-color: rgba(#00172C, .5)
        @supports(mix-blend-mode: soft-light)
            display: block
            mix-blend-mode: soft-light
.featureAlert
    background-color: $brand-secondary
    padding: 16px
    margin: 20px 0
    
    h3,
    p
        margin: 0
        color: #fff

    h3
        font-size: 16px
        font-weight: 300 !important

    p
        color: rgba(white, 0.8) !important
        margin-top: 5px

.recordGrid
    display: grid
    grid-template-columns: 1fr 1fr 1fr
    grid-template-rows: 1fr 1fr

    .record
        position: relative
        overflow: hidden

        img
            +size(100%)
            object-fit: cover
            display: block

        &:first-child
            grid-column-start: 1
            grid-column-end: 2
            grid-row-start: 1
            grid-row-end: 3

        &::before,
        &::after
            +position(absolute, 0)
            background-color: rgba(#002F59, .5)
            content: ""
            mix-blend-mode: lighten
            z-index: 1
            

        &::after
            display: none
            background-color: rgba(#00172C, .5)
            @supports(mix-blend-mode: soft-light)
                display: block
                mix-blend-mode: soft-light

        \:global(.show-hovers) &
            .info
                transition: .5s $ease-in-out-quint
                transform: scale(1.1)
            &:hover
                .info
                    opacity: 1
                    transform: none

        .info
            +position(absolute, 10px)
            align-items: center
            background-color: rgba($brand-dark, .9)
            display: flex
            flex-direction: column
            justify-content: center
            z-index: 2
            opacity: 0

            \:global(.hide-hovers) &
                +position(absolute, 0)

            p
                text-transform: uppercase
                color: #ffffff
                font-family: $font-main
                font-weight: 300
                letter-spacing: 1px
                text-align: center
                max-width: 80%
                line-height: 1.4
                margin: 0 0 20px

                &:nth-child(2)
                    font-family: $font-secondary
                    color: $brand-secondary
                    font-style: italic
                    text-transform: none